body {
	background-image: url(../images/texture.png);
	background-repeat: repeat;
}
.banner {
	width: 100%;
    	max-height: 500px;
    	object-fit: cover;
}
.btn-primary {
	background-color: #212529 !important;
	color: orange !important;
	outline: 1px solid orange !important;
}
.btn-primary:hover {
	background-color: orange !important;
	color: #212529 !important;
	outline: 1px solid #212529 !important;
}
.nav-link:hover {
	color: orange !important;
}
footer {
	background-color: #212529;
	padding: 0 2vw 0 2vw;
}
footer .nav-link {
	color: white !important;
}
footer,
h2 {
	color: white !important;
}
#copyright {
	color: white !important;
}
