.btn,
.cta {
  height: 60px;
  width: 100%;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
  color: $color-white;
  box-shadow: 4px 4px 4px $color-input-fields;
  border: none;

  &.btn-logout {
    width: 150px;
    font-size: 1em;
    height: 30px;
    box-shadow: 2px 2px 2px darken($color: $color-brand, $amount: 10);
  }

  &.orange,
  &.btn-logout {
    background-color: $color-brand;

    &:hover {
      background-color: darken($color: $color-brand, $amount: 10);
    }
  }

  &.login-add,
  &.add-to-cart {
    background-color: $color-sucess;

    &:hover {
      background-color: darken($color: $color-sucess, $amount: 10);
    }
  }

  &.delete {
    background-color: $color-error;

    &:hover {
      background-color: darken($color: $color-error, $amount: 10);
    }
  }
}
