.menu {
  background-color: $color-header-footer;
  padding: 10px 10px;

  .menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-logout-button-container {
    display: flex;
    justify-content: flex-end;
  }

  a {
    color: $color-white;
    text-transform: uppercase;
  }

  a.active {
    background-color: lighten($color: $color-header-footer, $amount: 25);
  }

  .logo {
    font-family: $font-heading;
    font-size: 1.1em;
  }

  .fa-circle {
    font-size: 0.5em;
  }

  li a {
    padding: 5px;
    font-size: 1em;
    border-radius: 2px;

    i {
      font-size: 1.2em;
    }

    &:hover {
      background: lighten($color: $color-header-footer, $amount: 25);
    }
  }

  ul {
    list-style: none;
    display: flex;
    padding-inline-start: 0px;
  }

  li {
    list-style-type: none;
    margin: 4px;
  }

  .fa-shopping-bag {
    position: relative;
  }

  .cart-count {
    background-color: $color-brand;
    border-radius: 100%;
    width: 100%;
    font-size: 0.9em;
    position: absolute;
    text-align: center;
    top: -7px;
  }

  @media (min-width: $tablet-min-width) {
    padding: 15px 30px 10px 30px;

    .logo {
      font-size: 1.9em;
    }

    .fa-circle {
      font-size: 1em;
    }

    li a {
      padding: 5px;
      font-size: 1.2em;
    }

    li {
      margin: 10px;
    }
  }
}
