.where-am-i-container {
  ul {
    padding: 20px 0px 20px 0px;
  }

  i {
    font-size: 1.2em;
  }

  li,
  .fa-chevron-right {
    display: inline;
    padding-left: 10px;
  }

  .where-am-i-now {
    color: lighten($color: $color-header-footer, $amount: 25);
  }
}
