.product-details-container {
  margin: 20px;

  .detail-container {
    @extend .flex-container;
    gap: 3rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 6px 6px 6px $color-input-fields;
    padding: 10px;

    @media (min-width: $tablet-min-width) {
      @include max-width(1100px);
    }
  }

  .details-information {
    max-width: 500px;
  }

  p {
    font-size: 0.5em;
  }

  img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  @media (min-width: $tablet-min-width) {
    img {
      width: 500px;
      height: 500px;
    }
  }
}
