h1,
h2 {
  font-family: $font-heading;
}

h3,
p {
  font-family: $font-primary;
}

h1 {
  font-size: 2em;

  @media (min-width: $computer-min-width) {
    font-size: 3em;
  }
}

h2 {
  font-size: 1.6em;

  @media (min-width: $computer-min-width) {
    font-size: 2em;
  }
}

h3 {
  font-size: 1.2em;

  @media (min-width: $computer-min-width) {
    font-size: 1.5em;
  }
}

p {
  font-size: 1em;
}
