$color-header-footer: #121212;
$color-background: #efefef;
$color-brand: #b74e15;
$color-white: #ffffff;
$color-sucess: #3e785e;
$color-error: #a12815;
$color-input-fields: #cbcbcb;

$font-primary: "IBM Plex Sans Thai Looped", sans-serif;
$font-heading: "Righteous", cursive;

$mobile-width: 649px;
$tablet-min-width: 650px;
$computer-min-width: 900px;
